body{
    background-color: #0A0D14;
}

.fundo{
    background: url(/img/fundo_denuncias.webp);
}

.pagina_principal{
    gap: 4rem;
}

.denuncias{
    height: 10rem;
    width: 100%;
    
}

.registro_denuncias{
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 1em #1a110e;
    height: 5rem;
    font-size: 2rem;
    background-color: #ededf2;
    color: #0A0D14;
}

.registro_denuncias h3{
    margin-top: 1rem;
    
}

.botão_denuncia{
    margin-top: 0.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: end;
    
}

.botão_denuncia a{
    text-decoration: none;
}

.botão_denuncia button{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #82bda7;
    color: #003f69;
}

.botão_denuncia a:hover{
    transform: scale(1.2);
    color: #d43a00;
}

/* comentarios*/

.separa{
    padding-bottom: 20rem;
}
.denuncias_realizadas{
    width: 20%;
    height: 24rem;
    margin: auto;
    background-color: #ffff;
    color: #0A0D14;
    box-shadow: 0 0 1em #1a110e;
}

.titulo_denuncia h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    background-color: #0A0D14;
    color: #ffff;
}

.informações_ocorridos{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem ;
    gap: 0.5rem;
}

#local{
    font-size: 1.5rem;
}

#horario{
    font-size: 1.5rem;
}

#latitude{
    font-size: 1.5rem;
}

#longitude{
    font-size: 1.5rem;
}

.infor_denuncia{
    display: flex;
    justify-content:space-around;
    
}

.infor_denuncia p{
    margin-top: 1.5rem;
    font-size: 2rem;
}

.denuncias_realizadas img{
    width: 100%;
    height: 10rem;
    padding-top: 2rem;
}