*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}



.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background: url(/img/céu.jpg);
}

.nome_instituto{
    display: flex;
    align-items: center;
    
}

.container h1{
    color: #5aad4a;
    
}

.container img{
    display: flex;
    margin: auto;
    padding-left: 1rem;
    height: 3rem;
}

.container nav ul {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.container li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}

.container li a {
    text-decoration: none;
    color: #2a363b;
}

.container li a:hover{
    transform: scale(2);
    color: #2a8b8b;
}


main{
    background: url(/img/floresta.jpg);
    height: 10rem;
    display: flex;
    justify-content: center;
}

.objetivo_site{
    margin: 3rem;
    font-size: 2rem;
    text-align: center;
    color: #f3ffeb
}

/* informações sobre o site e as denuncias */

.conteudo{
    background-color: #afb7a0;
    width: 100%;
}

.principal{
    padding: 1.5rem 0rem;
    
}

.descrição_problema{
    height: 20rem;
    width: 80%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    box-shadow: 0 0 1em #1a110e;
    background-color: #f4eed4;
    padding: 1rem;
}

.nome_problema {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

.informações_gerais{
    display: flex;
    justify-content: center;
    
}

#infor_problemas{
    padding-top: 1rem;
}

.imagem_problema img{
    height: 15rem;
    width: 15rem;
    padding: 1rem;
} 



.conteudo_problema{
    padding-bottom: 2rem;
}




/* footer*/

footer{
    height: 10rem;
    width: 100%;
    background-color: #fcfdff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer a {
    text-decoration: none;
    color: #0A0D14;

}

.rede_social{
    display: flex;
    text-align: center;
}

.social{
    padding: 1rem;
}